/*common shared style*/
body{font-family: 'lato', sans-serif;
    font-family: 'Open Sans', sans-serif;}
/*nav-style-related*/
nav{display: flex;
    align-items: center;
    justify-content: space-between;}
.nav-title{color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 150px;}
.text-primary{color: #FD6E0A;}
nav>ul{display: flex;
      align-items: center;
      margin-right: 226px;}
nav>ul>li{list-style: none;
          margin-right: 50px;}
.btn-primary{border-radius: 5px;
             background: #FD6E0A;
             border: 0px;
             padding: 15px 30px;
             font-size: 20px;
             font-style: normal;
             font-weight: 700;
             color: #FFF;}
nav a{
      text-decoration: none;
      color: #474747;
      font-size: 20px;
      font-weight: 400;}
header{background-color:#FFF8F3;
    height: 837px;
    background-image: url('../portfolio-resources/images/developer.png'),url('./portfolio-resources/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left,right bottom;
    }
.banner{padding:10px 20px 0px 150px;
       display: flex;
       justify-content: space-between;}
.profile .banner-greeting{
    padding-top: 185px;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    color:  #474747;
    margin-bottom: 0px;}
.profile .profile-name{
    color:#181818 ;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;}    
.profile .profile-details{
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 49px;}
#contact{background-color: none;
         color:#FD6E0A ;
         padding: 15px 13px 15px 24px;
         border: 1px solid #FD6E0A;
        margin-left: 47px;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;}
#contact-icon{width: 24px;
    height: 24px;}
.profile-pic{width: 584px;
    height: 676px;}  