/*common shared style*/
body{font-family: 'lato', sans-serif;
    font-family: 'Open Sans', sans-serif;}
/*nav-style-related*/
nav{display: flex;
    align-items: center;
    justify-content: space-between;}
.nav-title{color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 150px;}
.text-primary{color: #FD6E0A;}
nav>ul{display: flex;
      align-items: center;
      margin-right: 226px;}
nav>ul>li{list-style: none;
          margin-right: 50px;}
.btn-primary{border-radius: 5px;
             background: #FD6E0A;
             border: 0px;
             padding: 15px 30px;
             font-size: 20px;
             font-style: normal;
             font-weight: 700;
             color: #FFF;}
nav a{
      text-decoration: none;
      color: #474747;
      font-size: 20px;
      font-weight: 400;}
header{background-color:#FFF8F3;
    height: 837px;
    background-image: url('../portfolio-resources/images/developer.png'),url('./portfolio-resources/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left,right bottom;
    }
.banner{padding:10px 20px 0px 150px;
       display: flex;
       justify-content: space-between;}
.profile .banner-greeting{
    padding-top: 185px;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    color:  #474747;
    margin-bottom: 0px;}
.profile .profile-name{
    color:#181818 ;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;}    
.profile .profile-details{
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 49px;}
#contact{background-color: none;
         color:#FD6E0A ;
         padding: 15px 13px 15px 24px;
         border: 1px solid #FD6E0A;
        margin-left: 47px;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;}
#contact-icon{width: 24px;
    height: 24px;}
.profile-pic{width: 584px;
    height: 676px;}  
/*main shared style*/
main .about{margin: 100px 200px;
            background: #FFF8F3;
            padding: 40px 60px;}
main .about .about-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 30px;}
main .about .about-details{
    text-align: center;
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 30px;}
.about-info-container{display: flex;
                      gap: 50px;}
.info-title{
    text-align: center;
    color:#757575;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0px;}
.info-details{
    color: #474747;
    font-size: 20px;
    font-weight: 700;}
.occupation{margin: 100px 340px;}
.occupation .occupation-title{
    text-align: center;
    color: #181818;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 30px;}
.occupation .occupation-details{
color:#757575;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;}
.occupation-description-title{
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;}
.occupation-description-details{
    color:  #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;}   
.occupation-description{
    margin: 30px 150px 100px 150px;
    display: flex;
    gap: 25px;
}
.about-description{box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
                   padding: 30px;}
.resume-summary .resume-head{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 40px;}
.resume-type{color: #474747;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;}
.education-title{color: #474747;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0px;}
.college-name{color:#757575;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
    margin-bottom: 20px;}
.educatiion-details{color:  #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;}
.resume-container{margin: 5px 150px;
                  display: flex;
                  gap: 70px;}
.experience-details{color: var(--Dark-03, #757575);
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */}
.cv{text-align: center;}